name: 'json_dynamic_widget'
description: 'A library to dynamically generate widgets within Flutter from JSON or other Map-like structures.'
homepage: 'https://github.com/peiffer-innovations/json_dynamic_widget'
version: '6.0.3+1'

environment: 
  sdk: '>=2.19.0 <4.0.0'

analyzer: 
  exclude: 
    - 'lib/generated/**'


dependencies: 
  child_builder: '^2.0.1'
  collection: '^1.16.0'
  execution_timer: '^1.0.2+1'
  flutter: 
    sdk: 'flutter'
  form_validation: '^2.2.0+6'
  interpolation: '^2.1.2'
  json_class: '^2.1.6+1'
  json_conditional: '^2.1.1+5'
  json_schema2: '^2.0.3+5'
  json_theme: '^5.0.0+5'
  logging: '^1.1.1'
  meta: '^1.8.0'
  petitparser: '5.1.0'
  template_expressions: '^2.2.2'
  uuid: '^3.0.7'
  yaon: '^1.0.2+1'

false_secrets: 
  - 'example/web/index.html'

dev_dependencies: 
  flutter_lints: '^2.0.1'
  flutter_test: 
    sdk: 'flutter'

ignore_updates: 
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
