name: 'json_dynamic_widget'
description: 'A library to dynamically generate widgets within Flutter from JSON or other Map-like structures.'
homepage: 'https://github.com/peiffer-innovations/json_dynamic_widget'
version: '5.1.6+1'

environment: 
  sdk: '>=2.18.0 <3.0.0'

analyzer: 
  exclude: 
    - 'lib/generated/**'


dependencies: 
  child_builder: '^2.0.0+3'
  collection: '^1.16.0'
  flutter: 
    sdk: 'flutter'
  form_validation: '^2.1.0+24'
  interpolation: '^2.1.2'
  json_class: '^2.1.2+14'
  json_conditional: '^2.1.0+17'
  json_schema2: '^2.0.2+18'
  json_theme: '^4.0.3+1'
  logging: '^1.1.0'
  meta: '^1.7.0'
  template_expressions: '^2.0.0+3'
  uuid: '^3.0.7'
  yaon: '^1.0.1+8'

false_secrets: 
  - 'example/web/index.html'

dev_dependencies: 
  flutter_test: 
    sdk: 'flutter'


ignore_updates: 
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
