name: 'json_dynamic_widget_codegen'
description: 'A library autogenerate JSON widget builders.'
homepage: 'https://github.com/peiffer-innovations/json_dynamic_widget/tree/main/codegen'
version: '0.9.1'

environment:
  sdk: '>=3.0.0 <4.0.0'

analyzer:
  exclude:
    - 'lib/generated/**'
    - 'lib/**/*.g.dart'

dependencies:
  analyzer: '^5.13.0'
  build: '^2.4.0'
  code_builder: '^4.4.0'
  dynamic_widget_annotation: '^1.1.0'
  json_class: '^3.0.0'
  json_theme: '^6.2.4'
  recase: '^4.1.0'
  source_gen: '^1.2.7'
  template_expressions: '^3.1.1'
  yaml_writer: ^1.0.3
  yaon: '^1.1.2+1'

dev_dependencies:
  flutter_lints: '^2.0.1'
  test: '^1.24.6'

# dependency_overrides:
#   dynamic_widget_annotation:
#     path: ../annotation

ignore_updates:
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
