name: 'json_dynamic_widget_codegen'
description: 'A library autogenerate JSON widget builders.'
homepage: 'https://github.com/peiffer-innovations/json_dynamic_widget/tree/main/codegen'
version: '1.0.6+18'

environment:
  sdk: '>=3.0.0 <4.0.0'

analyzer:
  exclude:
    - 'lib/generated/**'
    - 'lib/**/*.g.dart'

dependencies:
  analyzer: '>=6.2.0 <6.5.0'
  build: '^2.4.1'
  code_builder: '^4.10.1'
  dynamic_widget_annotation: '^1.1.2+10'
  json_class: '^3.0.1'
  json_theme: '^6.5.4'
  recase: '^4.1.0'
  source_gen: '^1.5.0'
  template_expressions: '^3.3.1+2'
  yaml_writer: '^2.0.1'
  yaon: '^1.1.4+10'

dev_dependencies:
  flutter_lints: '^5.0.0'
  test: '^1.25.2'

permittedLicenses:
  - 'Apache-2.0'
  - 'BSD-2-Clause'
  - 'BSD-3-Clause'
  - 'MIT'
  - 'MIT-Modern-Variant'
  - 'MPL-2.0'
  - 'Zlib'

packageLicenseOverride:
  flutter: 'BSD-3-Clause'
  flutter_driver: 'BSD-3-Clause'
  flutter_goldens: 'BSD-3-Clause'
  flutter_localizations: 'BSD-3-Clause'
  flutter_web_plugins: 'BSD-3-Clause'
  flutter_test: 'BSD-3-Clause'
  fuchsia_remote_debug_protocol: 'BSD-3-Clause'
  integration_test: 'BSD-3-Clause'
  rxdart: 'Apache-2.0'

ignore_updates:
  - 'analyzer'
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
