name: 'json_dynamic_widget_codegen'
description: 'A library autogenerate JSON widget builders.'
homepage: 'https://github.com/peiffer-innovations/json_dynamic_widget/tree/main/codegen'
version: '1.0.5+5'

environment: 
  sdk: '>=3.0.0 <4.0.0'

analyzer: 
  exclude: 
    - 'lib/generated/**'
    - 'lib/**/*.g.dart'

dependencies: 
  analyzer: '^6.2.0'
  build: '^2.4.1'
  code_builder: '^4.10.0'
  dynamic_widget_annotation: '^1.1.2+3'
  json_class: '^3.0.0+12'
  json_theme: '^6.4.1'
  recase: '^4.1.0'
  source_gen: '^1.5.0'
  template_expressions: '^3.2.0'
  yaml_writer: '^2.0.0'
  yaon: '^1.1.4+4'

dev_dependencies: 
  flutter_lints: '^3.0.1'
  test: '^1.25.2'

ignore_updates: 
  - 'analyzer'
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
