name: Flutter Publisher

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/publisher.yml
      - json_dynamic_widget/pubspec.yaml
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    
    steps:
      - uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Run Codegen
        run: |
          flutter packages get
          dart run build_runner build --delete-conflicting-outputs -v
        working-directory: json_dynamic_widget

      - name: Run Codegen Example
        run: |
          flutter packages get
          dart run build_runner build --delete-conflicting-outputs -v
        working-directory: json_dynamic_widget/example

      - name: Validate
        uses: peiffer-innovations/actions-flutter-validate@v1
        with:
          path: json_dynamic_widget

      - name: Checkout Schemas
        uses: actions/checkout@v3
        with:
          repository: peiffer-innovations/flutter_json_schemas
          token: ${{ secrets.REPO_TOKEN }}
          fetch-depth: 0
          ref: gh-pages
          path: schemas

      - name: Update Schemas
        run: |
          git config --global user.name "action"
          git config --global user.email "noop@github.com"
          git config --global url."https://action:${{secrets.REPO_TOKEN}}@github.com/".insteadOf https://github.com/
          rm -rf ../schemas/schemas/json_dynamic_widget
          mkdir ../schemas/schemas/json_dynamic_widget
          cp output/* ../schemas/schemas/json_dynamic_widget
          cd ../schemas
          git add .
          git commit --allow-empty -m "json_dynamic_widget: schema update"
          git push origin HEAD:gh-pages
          cd ..
        working-directory: json_dynamic_widget

      - name: Publish
        uses: peiffer-innovations/actions-pub-publish@v1.0.2
        with:
          credentials: ${{ secrets.CREDENTIAL_JSON }}
          path: json_dynamic_widget

      - uses: peiffer-innovations/actions-dart-version-autotag@v2
        with:
          path: json_dynamic_widget
          token: ${{ secrets.REPO_TOKEN }}
