name: Annotation Publisher

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - packages/annotation/pubspec.yaml

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Validate
        uses: peiffer-innovations/actions-flutter-validate@v2
        with:
          path: packages/annotation

      - name: Publish
        uses: peiffer-innovations/actions-pub-publish@v1.0.2
        with:
          credentials: ${{ secrets.CREDENTIAL_JSON }}
          path: packages/annotation
